/* styling within general */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --dark-blue: #263849;
    --light-blue: #87CEEB; 
    --white: white;
}

body {
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', monospace;
    line-height: 1.5;
    width: 100%;
}
/* styling within header contents */
header {
    background-color: var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 5px 0;
}

header h1 {
    font-size: 48px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    line-height: 1;
    padding: 5px 2% 5px 4%;
    box-shadow: 2px 2px 2px var(--white);
}

.upper-nav li{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 20px;
    list-style-type: none;
}

.upper-nav a {
    color: var(--light-blue);
    text-decoration: none;
}

.upper-nav li a:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    box-shadow: 2px 2px 2px var(--white);
    padding: 3px;
}

.upper-nav li a:active {
    box-shadow: 2px 2px 2px var(--white);
    font-size: 80%;
}

/* styling within background, or hero, figure */
.hero {
    background-color: var(--white);
    background-image: url("../images/pawprint.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 350px;
    width: 175px;
    margin-left: 20px;
    padding: 20px;
}

.quote {
    margin-right: 30px;
    margin-top: 150px;
}

.quote p {
    color: var(--dark-blue);
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

/* styling within main content */
.content {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 50px;
}

.section {
    border-right: 4px solid var(--dark-blue);
    font-size: 16px;
}

.section h2 {
    color: var(--dark-blue);
    text-align: end;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px 400px 500px;
    margin-top: 30px;
    gap: 30px;  
}

.one {
    grid-column: span 2; 
}

.one, .two, .three, .four, .five {
    border: 4px solid var(--dark-blue);
    position: relative;
}

.figcap-title {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 10px;
    opacity: 0;
}

.card:hover .figcap-title {
    opacity: .8;
}

.lower-nav {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px 0;
    list-style-type: none;
}

.lower-nav a {
    color: var(--dark-blue);
    text-decoration: none;
}

.lower-nav a:hover {
    background-color: var(--light-blue);
    box-shadow: 2px 2px 2px var(--dark-blue);
    opacity: .8;
    padding: 3px;
}

.lower-nav a:active {
    box-shadow: 2px 2px 2px var(--dark-blue);
    font-size: 80%;
}
/* styling within footer */
.footer {
    text-align: center;
}

.footer h2 {
    color: var(--dark-blue);
    font-size: 20px;
}

/* use of media query */
@media screen and (max-width: 600px) {
    header, .upper-nav li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
    }

    .hero, .quote {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5px;
    }

    .content, .section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
        align-content: center;
        align-items: center;
        text-align: center;
        border-right: 0;
        padding: 0 30px;
        border-bottom: 3px solid var(--dark-blue);
    }

    .grid {
        width: 50%;
        display: grid;
        grid-template-columns: 225px;
        grid-template-rows: 200px 200px 200px 200px 300px;
        margin-top: 10px;
    }

    .one {    
        grid-column: span 1;
    }

    .one, .two, .three, .four, .five {
        border: 2px solid var(--dark-blue);
    }

    .lower-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        line-height: 3;
        padding: 0;
    }
}